body {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Averia Serif Libre", Times, serif;
}

.title {
  font-family: 'IM Fell English SC', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
}
