<!-- beginning of head_custom.html -->
    <link rel="stylesheeet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- landing page theme font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC">

    <!-- header(s) font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre">

    <!-- body font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans">

    <link rel="stylesheet" href="{{ "/css/style_custom.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/font_custom.css" | relURL }}" />
